@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 50vh;
  border: none;
}

.editor {
  width: 60%;
}

.editor pre {
  background: #1E1F20;
  color: rgb(211, 211, 211);
  height: 45vh;
  font-size: 16px;
  padding: 30px 10px;
  margin: 0;
  position: relative;
  overflow-y: scroll;
}

.editor pre:before {
  display: block;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#console {
  background: #1E1F20;
  color: rgb(211, 211, 211);
  flex: 1;
  font-size: 16px;
  height: 12vh;

  margin: 0;
  position: relative;
  overflow: auto;
  width: 40%;
  height: 50vh;
}

.panel-html {
  position: relative;
}

#w3cButton {
  position: absolute;
  right: 20px;
  top: 5px;
  z-index: 9999;
  cursor: pointer;
  padding: 15px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  background: #090C10;
  color: #fff;
}

#w3cButton:hover{
  box-shadow: 0px 0px 0px 3px #2aa1c0;
  z-index: 1;
}

#footer {
  display: flex;
}

#console h1{
  background-color:#005a9c;
  height: 5vh;
  padding: 10px;
  font-size: 20px;
}

div#msg-console {
  padding: 10px;
}

pre::-webkit-scrollbar {
  width: 0.3em;
}

pre::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

pre::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

#msg-console p {
  margin: 2px 0;
}

p.msg-error {
  color:#E9001B;
}

p.msg-warning {
  color:#F3B500;
}

p.msg-info {
  color:#005a9c;
}